{% extends '::userprofile.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/perfectcity/plugins/datatables/dataTables.bootstrap.css') }}">
    <style>
        .cols1
        {

            width: 50px;
        }
    </style>
{% endblock %}
{% block body -%}
    <section class="admin">
        <style>
            .admin{
                background-color: #0097AC;
            }

        </style>
        <h1>
            Tableau de bord utilisateur
        </h1>
        <div>
            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }}
            {% else %}
                <a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
            {% endif %}
        </div>
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-lg-3 col-xs-6">
                <!-- small box -->

            </div><!-- ./col -->

            <div class="col-lg-3 col-xs-6">
                <!-- small box -->

            </div><!-- ./col -->

            <div class="col-lg-3 col-xs-6">
                <!-- small box -->

            </div><!-- ./col -->

            <div class="col-lg-3 col-xs-6">
                <!-- small box -->

            </div><!-- ./col -->

            <div class="col-lg-3 col-xs-6">
                <!-- small box -->

            </div><!-- ./col -->

            <div class="col-lg-3 col-xs-6">
                <!-- small box -->

            </div><!-- ./col -->

            <div class="col-lg-3 col-xs-6">
                <!-- small box -->

            </div><!-- ./col -->
            <div class="col-lg-3 col-xs-6">
                <!-- small box -->

                </div>



            </div><!-- ./col -->
        </div>


    </section><!-- /.content -->

{% endblock %}
{% block javascripts %}
    <script src="{{ asset('bundles/perfectcity/plugins/datatables/jquery.dataTables.min.js') }}"></script>
    <script src="{{ asset('bundles/perfectcity/plugins/datatables/dataTables.bootstrap.min.js') }}"></script>
    <script>
        $(function () {
            $("#example1").DataTable();
            $('#example2').DataTable({
                "paging": true,
                "lengthChange": true,
                "searching": true,
                "ordering": true,
                "info": true,
                "autoWidth": true
            });
        });
    </script>

{% endblock %}

